.Basket-item {
    display: flex;
    justify-content: space-between;
    transition: background-color 1s;
    gap: 5px;
    width: 960px;
}

.Basket-item__code {
    padding: 20px 10px 20px 20px;
}

.Basket-item__title {
    padding: 20px 10px;
    flex: 1;
}

.Basket-item__details {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 61px;
    font-size: 18px;
}


.Basket-item:first-child {
    border-top: 1px dashed #ccc;
}

.Basket-item:last-child {
    border-bottom: 1px dashed #ccc;
}


.Basket-item__actions {
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 20px 10px;
}