.Modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}

.active {
    transform: scale(1);
}

.Modal-container {
    background: white;
    max-width: 960px;
    border-radius: 10px;
}

.Modal-header {
    max-height: 80px;
    font-size: 32px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 32px;
    background: #f5f5f5;
    margin-bottom: 60px;
    border-radius: 10px;
}

.Modal-actions {
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 20px 10px;
}

.Modal-footer {
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: flex-end;
    padding: 20px 100px 80px 10px;
    font-size: 18px;
    font-weight: 700;
}